In [1]:
import time
import datetime
import pandas as pd

In [2]:
ticker = "LYV"
precovid = int(time.mktime(datetime.datetime(2015, 1,1,23,59).timetuple()))
postcovid = int(time.mktime(datetime.datetime(2023, 1,1,23,59).timetuple()))
interval = "1wk"

query_string = f"https://query1.finance.yahoo.com/v7/finance/download/{ticker}?period1={precovid}&period2={postcovid}&interval={interval}&events=history&includeAdjustedClose=true"

live_nation = pd.read_csv(query_string)

live_nation

,Date,Open,High,Low,Close,Adj Close,Volume
0,2015-01-01,26.219999,26.379999,24.709999,25.110001,25.110001,2973500
1,2015-01-08,25.389999,25.940001,24.440001,24.680000,24.680000,3113900
2,2015-01-15,24.750000,25.120001,24.330000,24.780001,24.780001,2537000
3,2015-01-22,24.950001,25.709999,24.500000,24.549999,24.549999,4677400
4,2015-01-29,24.559999,24.770000,23.530001,24.389999,24.389999,6481700
...,...,...,...,...,...,...,...
413,2022-12-01,73.279999,75.010002,69.919998,71.139999,71.139999,16177200
414,2022-12-08,71.000000,76.669998,70.089996,73.089996,73.089996,8684500
415,2022-12-15,72.010002,72.750000,67.699997,70.680000,70.680000,9922300
416,2022-12-22,69.900002,71.339996,68.059998,68.160004,68.160004,4477400
417,2022-12-29,68.800003,70.440002,68.709999,69.739998,69.739998,2328200

In [3]:
ticker2 = "AMC"

query_string = f"https://query1.finance.yahoo.com/v7/finance/download/{ticker2}?period1={precovid}&period2={postcovid}&interval={interval}&events=history&includeAdjustedClose=true"

amc = pd.read_csv(query_string)

amc

,Date,Open,High,Low,Close,Adj Close,Volume
0,2015-01-01,26.260000,26.299999,24.270000,25.580000,18.863396,1114300
1,2015-01-08,25.760000,28.080000,25.309999,27.440001,20.235014,1517100
2,2015-01-15,27.430000,27.549999,26.900000,27.139999,20.013784,898300
3,2015-01-22,27.190001,28.830000,27.160000,27.590000,20.345627,1301800
4,2015-01-29,27.580000,29.600000,27.200001,29.309999,21.614000,2021000
...,...,...,...,...,...,...,...
413,2022-12-01,7.290000,9.150000,6.000000,6.050000,6.050000,225210000
414,2022-12-08,6.240000,6.700000,5.530000,5.750000,5.750000,128264900
415,2022-12-15,5.600000,6.050000,4.740000,5.300000,5.300000,129773800
416,2022-12-22,4.140000,4.980000,3.810000,3.840000,3.840000,137193300
417,2022-12-29,3.900000,4.190000,3.860000,4.070000,4.070000,39676100

In [4]:
eft = "BJK"

query_string = f"https://query1.finance.yahoo.com/v7/finance/download/{eft}?period1={precovid}&period2={postcovid}&interval={interval}&events=history&includeAdjustedClose=true"

vaneck_vectors = pd.read_csv(query_string)

vaneck_vectors

           Date       Open       High        Low      Close  Adj Close  Volume
0    2015-01-01  38.270000  38.270000  35.910000  36.849998  30.895542   31000
1    2015-01-08  36.919998  37.580002  36.590000  36.990002  31.012928   68700
2    2015-01-15  37.259998  37.279999  35.830002  36.560001  30.652407   59000
3    2015-01-22  36.869999  38.689999  36.869999  38.029999  31.884876   74400
4    2015-01-29  37.919998  38.910000  37.369999  38.160000  31.993866   68200
..          ...        ...        ...        ...        ...        ...     ...
413  2022-12-01  41.060001  41.090000  39.599998  40.150002  39.979408   56900
414  2022-12-08  40.439999  42.160000  40.410000  41.209999  41.034904  576900
415  2022-12-15  40.349998  40.430000  38.320000  38.840000  38.674976  117000
416  2022-12-22  38.049999  39.020000  37.619999  37.860001  37.860001  223400
417  2022-12-29  38.310001  38.759998  38.200001  38.580002  38.580002   43100

[418 rows x 7 columns]

In [5]:
eft2 = "JETS"

query_string = f"https://query1.finance.yahoo.com/v7/finance/download/{eft2}?period1={precovid}&period2={postcovid}&interval={interval}&events=history&includeAdjustedClose=true"

us_global_jets = pd.read_csv(query_string)

us_global_jets

,Date,Open,High,Low,Close,Adj Close,Volume
0,2015-04-27,24.493999,24.969000,24.129999,24.870001,23.695280,190100.0
1,2015-05-04,25.100000,25.100000,23.590000,24.820000,23.647644,449200.0
2,2015-05-11,25.070000,25.200001,24.507999,24.889999,23.714338,181800.0
3,2015-05-18,24.950001,25.190001,23.049999,23.120001,22.027941,512300.0
4,2015-05-25,23.160000,23.330000,22.559999,23.100000,22.008886,1298100.0
...,...,...,...,...,...,...,...
397,2022-12-05,18.690001,18.969999,17.920000,18.110001,18.110001,13696800.0
398,2022-12-12,18.100000,19.150000,17.260000,17.450001,17.450001,19994100.0
399,2022-12-19,17.469999,17.635000,16.840000,17.230000,17.230000,13120100.0
400,2022-12-26,17.073999,17.163000,16.580000,17.080000,17.080000,12371800.0
401,2023-01-02,NaN,NaN,NaN,NaN,NaN,NaN